<ion-content>
  <div class="flex">
    <ion-icon  class="close" name="arrow-back-outline"></ion-icon>
    <h1>Dados para fazer a transferência</h1>
  </div>
  <div class="container">
    <h2 class="banco">
      Banco Cora SDC - 403
    </h2>
    <h3 class="aviso">
      Não aceitamos DOC, nem transferências de terceiros.
    </h3>
    <h3 class="nome">
      Bitcoin P2P Serviços Digitais LTDA
    </h3>
    <div style="margin-top:30px;">
      <h3 class="text">
        <span>CNPJ: </span>
        31.600.396/0001-31
      </h3>
      <h3 class="text">
        <span>Agência: </span>
        0001
      </h3>
      <h3 class="text">
        <span>Conta Corrente: </span>
        1114965-8
      </h3>
    </div>

    <div style="margin-top:30px;">
      <h3 style="font-weight: 700;" class="text">Chave PIX Aleatória:</h3>
      <h3 class="text">000000000000</h3>
    </div>

    <div style="margin-top: 20px;">
      <h3 class="text">
        <span>Chave PIX CNPJ: </span>
        000000000000
      </h3>
    </div>

    <div style="margin-top: 30px;" class="flex">
      <div>
        <img class="clip" src="../../assets/paper-clip.png" alt="">
      </div>
      <div class="anexar">
        Anexar comprovante
      </div>
    </div>

    <div>
      <ion-button [routerLink]="['/status']" class="cta-light">Continuar</ion-button>
    </div>
  </div>
</ion-content>