<ion-content>
  <div class="flex">
    <ion-icon [routerLink]="['/folder/inbox']" class="close" name="arrow-back-outline"></ion-icon>
    <h1>Perfil</h1>
  </div>

  <div>
    <img class="perfil" src="../../assets/perfil.jpg" alt="">
    <p class="change">
      Alterar foto
    </p>
  </div>

  <div style="margin-top: 50px;">
    <ion-item class="input">
      <ion-input type="text" placeholder="Fernando Couto"></ion-input>
    </ion-item>
    <ion-item class="input">
      <ion-input type="number" placeholder="00000-000"></ion-input>
    </ion-item>
    <ion-item class="input">
      <ion-input type="text" placeholder="Rua Alto da XV, Curitiba/PR"></ion-input>
    </ion-item>
    <ion-item class="input">
      <ion-input type="text" placeholder="546"></ion-input>
    </ion-item>
    <ion-item class="input">
      <ion-input type="text" placeholder="Casa"></ion-input>
    </ion-item>

  </div>

  <div>
    <ion-button class="cta-light">Alterar Endereço</ion-button>
  </div>

</ion-content>