* {
  margin: 0;
  padding: 0;
}

ion-content {
  --background: #313131;
}

.waiting{
    width: 70%;
    margin-left: 15%;
    margin-top: 200px;
}

p{
    text-align: center;
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
}