<ion-content>
    <div>
        <img class="img" src="../../assets/lobby.png" alt="">
    </div>

    <div class="container-txt">
        <h1>
            Bem-vindo!
        </h1>
        <p>
            <span>Bitcoin</span> é uma rede inovadora de pagamento e um novo tipo de moeda vem conhecer a nova
            <span>economia digital.</span>
        </p>
    </div>

    <div>
        <ion-button [routerLink]="['/register']" class="cta-dark">Cadastrar</ion-button>
    </div>
    <div>
        <ion-button [routerLink]="['/login']" class="cta-light">Entrar</ion-button>
    </div>
</ion-content>