<ion-content>
  <div class="flex">
    <ion-icon [routerLink]="['/folder/inbox']" class="close" name="close-outline"></ion-icon>
    <h1>Aqui você consegue acompanhar o status da sua compra ou de sua venda</h1>
  </div>

  <div>
    <ion-card class="card">
      <ion-card-header>
        <div class="flex-card">
          <div class="bank">Compra</div>
          <div class="status"></div>
        </div>
      </ion-card-header>

      <ion-card-content>
        <div class="flex-content">
          <div>
            <img class="icons-card" src="../../assets/search.png" alt="">
          </div>
          <div>
            <p class="content-card"><span>Status: </span>Em andamento</p>
          </div>
        </div>

        <div class="flex-content">
          <div>
            <img class="icons-card" src="../../assets/hand.png" alt="">
          </div>
          <div>
            <p class="content-card"><span>Preço: </span>292,358,89 BRL</p>
          </div>
        </div>

        <div class="flex-content">
          <div>
            <img class="icons-card" src="../../assets/calendar.png" alt="">
          </div>
          <div>
            <p class="content-card"><span>Data e Hora: </span>23/01/2021 às 09:17</p>
          </div>
        </div>

        <div class="flex-content">
          <div>
            <img class="icons-card" src="../../assets/hash.png" alt="">
          </div>
          <div>
            <p class="content-card"><span>Hash: </span>21513213219832198321</p>
          </div>
        </div>


        <div (click)="leiaMais()" class="flex-content">
          <div>
            <img id="arrow" class="icon-mais" src="../../assets/down-arrow.png" alt="">
          </div>
          <div>
            <p id="menos" class="content-card">ver mais</p>
          </div>
        </div>

        <div id="mais" class="flex-content dNone">
          <div>
            <img  class="icons-card" src="../../assets/link.png" alt="">
          </div>
          <div>
            <a class="content-card"><span>Clique para abrir o link</span></a>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

  </div>


  <div>
    <ion-card class="card">
      <ion-card-header>
        <div class="flex-card">
          <div class="bank">Compra</div>
          <div class="status"></div>
        </div>
      </ion-card-header>

      <ion-card-content>
        <div class="flex-content">
          <div>
            <img class="icons-card" src="../../assets/search.png" alt="">
          </div>
          <div>
            <p class="content-card"><span>Status: </span>Em andamento</p>
          </div>
        </div>

        <div class="flex-content">
          <div>
            <img class="icons-card" src="../../assets/hand.png" alt="">
          </div>
          <div>
            <p class="content-card"><span>Preço: </span>292,358,89 BRL</p>
          </div>
        </div>

        <div class="flex-content">
          <div>
            <img class="icons-card" src="../../assets/calendar.png" alt="">
          </div>
          <div>
            <p class="content-card"><span>Data e Hora: </span>23/01/2021 às 09:17</p>
          </div>
        </div>

        <div class="flex-content">
          <div>
            <img class="icons-card" src="../../assets/hash.png" alt="">
          </div>
          <div>
            <p class="content-card"><span>Hash: </span>21513213219832198321</p>
          </div>
        </div>


        <div (click)="leiaMais()" class="flex-content">
          <div>
            <img id="arrow" class="icon-mais" src="../../assets/down-arrow.png" alt="">
          </div>
          <div>
            <p id="menos" class="content-card">ver mais</p>
          </div>
        </div>

        <div id="mais" class="flex-content dNone">
          <div>
            <img  class="icons-card" src="../../assets/link.png" alt="">
          </div>
          <div>
            <a class="content-card"><span>Clique para abrir o link</span></a>
          </div>
        </div>
      </ion-card-content>
    </ion-card>

  </div>



  <div>
    <ion-card class="card">
      <ion-card-header>
        <div class="flex-card">
          <div class="bank">Venda</div>
          <div class="status2"></div>
        </div>
      </ion-card-header>

      <ion-card-content>
      
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>