* {
  margin: 0;
  padding: 0;
}

ion-content {
  --background: #313131;
}

ion-toolbar {
  --background: #313131;
  --ion-background-color:#313131;
}

ion-footer{
    height: 80px;
    --background: #313131 !important;
    --ion-background-color:#313131 !important;
}

.menu {
  width: 35px;
  object-fit: cover;
  position: absolute;
  right: 30px;
  top: 40px;
}

.sub {
  margin-top: 150px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}

.title {
  font-weight: 400;
  font-size: 24px;
  color: #fff;
}

.toolbar {
  margin-top: 30px;
  padding: 5px 30px;
}

.img {
  width: 30px;
  object-fit: cover;
}

.bitcoin{
    width: 20%;
    margin-left:40%;
    margin-top: 20px;
}

.absolute{
    position: absolute;
    bottom: 20px;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.icon{
    width: 30px;
    object-fit: cover;
}

.txt-comprar{
    font-size: 20px;
    color:#EEF275;
    margin-left:10px;
}

.txt-vender{
    margin-left: 10px;
    font-size: 20px;
    color:#fff
}

.flex{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}