* {
  margin: 0;
  padding: 0;
}

ion-content {
  --background: #313131;
}


.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  padding: 20px 30px;
}

.flex-4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 20px 30px;
}

.close {
  font-size: 42px;
  color: white;
  margin-right: 20px;

}

h1 {
  margin-top: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

ion-item {
  --background: transparent;
}

.input {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  color: #fff;
  font-size: 20px;
  margin-top: 20px;
}

.label {
  color: #EEF275;
  font-size: 14px;
}

.mg-top-50 {
  margin-top: 50px;
}

.cta-light {
  --background: #EEF275;
  color: #313131;
  font-size: 20px;
  border: 2px solid #313131;
  border-radius: 100px;
  margin-top: 100px;
  margin-bottom: 30px;
}

ion-button {
  width: 80%;
  margin-left: 10%;
  height: 55px;
  --border-radius: 100px;
}

.ellipsis {
  font-size: 38px;
  color: white;
  position: absolute;
  top: 25px;
  right: 30px;
}

.title {
  margin-top: 30px;
  width: 90%;
  margin-left: 5%;
  text-align: center;
}

.qr{
    width: 40%;
    margin-left: 30%;
    margin-top: 50px;
}

.btc{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 300;
}