<ion-content>
  <div class="flex">
    <ion-icon [routerLink]="['/folder/inbox']" class="close" name="arrow-back-outline"></ion-icon>
    <h1>Selecione um dos bancos</h1>
  </div>

  <div style="margin-top: 20px;">

    <div>
      <ion-button [routerLink]="['/bank-details']" class="cta-light">Banco Cora</ion-button>
    </div>

    <div>
      <ion-button [routerLink]="['/bank-details']" class="cta-light">Banco do Brasil</ion-button>
    </div>

    <div>
      <ion-button [routerLink]="['/bank-details']" class="cta-light">Banco Neon</ion-button>
    </div>

  </div>
</ion-content>