<ion-content>
  <div class="flex">
    <ion-icon [routerLink]="['/folder/inbox']" class="close" name="arrow-back-outline"></ion-icon>
    <h1>Contas bancárias</h1>
  </div>

  <div>
    <ion-card class="card">
      <ion-card-header>
        <div class="flex-card">
          <div class="bank">Banco do Brasil S/A</div>
          <ion-icon class="x" name="close-outline"></ion-icon>
        </div>
      </ion-card-header>

      <ion-card-content>
        <p style="margin-top: 10px;">Agencia: 0000</p>
        <p style="margin-top: 10px; margin-bottom: 10px;">Conta com dígito: 000000-0</p>
      </ion-card-content>
    </ion-card>
  </div>

  <div>
    <ion-card class="card">
      <ion-card-header>
        <div class="flex-card">
          <div class="bank">Banco do Brasil S/A</div>
          <ion-icon class="x" name="close-outline"></ion-icon>
        </div>
      </ion-card-header>

      <ion-card-content>
        <p style="margin-top: 10px;">Agencia: 0000</p>
        <p style="margin-top: 10px; margin-bottom: 10px;">Conta com dígito: 000000-0</p>
      </ion-card-content>
    </ion-card>
  </div>

  <div>
    <ion-card class="card">
      <ion-card-header>
        <div class="flex-card">
          <div class="bank">Banco do Brasil S/A</div>
          <ion-icon class="x" name="close-outline"></ion-icon>
        </div>
      </ion-card-header>

      <ion-card-content>
        <p style="margin-top: 10px;">Agencia: 0000</p>
        <p style="margin-top: 10px; margin-bottom: 10px;">Conta com dígito: 000000-0</p>
      </ion-card-content>
    </ion-card>

  </div>
  <div class="flex-add">
    <div>
      <ion-icon class="icon" name="add-outline"></ion-icon>
    </div>
    <div>
      <h2 class="add">Adicionar nova conta</h2>
    </div>

  </div>
</ion-content>